<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>An App Called Quest</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
<link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">

</head>

<body>
  <header>
   <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <section></section>
  </header>
  
  <main>
    <div class="main">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <footer class="links">
      <div class="content has-text-centered">
        <p>
          <a href="https://github.com/Jalene-Ferguson">Jalene Ferguson</a>
          <a href="https://github.com/Renard-Dartigue">Renard Bien-Aime</a>
          <a href="https://github.com/kateleighb3">Katherine Baldwin</a>
          <a href="https://github.com/cfinn7789">Chelsey Finn</a>
        </p>
      </div>
    </footer>
</body>

</html>